<div
  class="flex items-center justify-center py-6"
  [class]="position() === 'absolute' ? 'absolute inset-0 m-auto' : ''"
>
  <div class="wrapper">
    <div class="line"></div>
    <div class="line"></div>
    <div class="line"></div>
    <div class="line"></div>
    <div class="line"></div>
    <div class="line"></div>
    <div class="line"></div>
    <div class="line"></div>
    <div class="line"></div>
    <div class="line"></div>
    <div class="line"></div>
    <div class="line"></div>
  </div>
</div>
