<section class="container mx-auto px-4 py-6">
  @if (vm(); as vm) {
    @if (vm.categoriesError()) {
      <app-error-template />
    } @else if (vm.categoriesPending()) {
      <app-spinner />
    } @else {
      <div class="my-6 text-center">
        <h2>Select category and start to game</h2>
      </div>
      <div
        class="grid grid-cols-1 gap-4 sm:grid-cols-2 md:grid-cols-4 lg:grid-cols-5"
      >
        @for (category of vm.categories(); track category.id) {
          <app-category-item
            [category]="category"
            [isSelected]="vm.category()?.id === category.id"
            (select)="handleSelectedCategory($event)"
          />
        }
      </div>

      <div class="mt-6 flex w-full items-center justify-center">
        <button
          class="btn btn-primary btn-xl min-w-[150px]"
          [disabled]="!vm.category()"
          (click)="start()"
        >
          Start to game
        </button>
      </div>
    }
  }
</section>
